#container{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(67, 67, 67);
}

.todo{
    background-color: rgb(115, 177, 57)8)8, 128, 128);
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
}